<a [routerLink]="['/dashboard']">Go to Polls</a>

<h3>{{currentQuestion[0].text}}</h3>
<p>Click the Vote button to choose one</p>

<table>
  <thead>
    <th>Option</th>
    <th>Current Count of Votes</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr>
      <td>{{currentQuestion[0].opt1}}</td>
      <td>{{currentQuestion[0].vote1}}</td>
      <td><button type="button" (click)="vote1(currentQuestion[0]._id); false">Vote</button></td>
    </tr>
    <tr>
      <td>{{currentQuestion[0].opt2}}</td>
      <td>{{currentQuestion[0].vote2}}</td>
      <td>
        <button type="button" (click)="vote2(currentQuestion[0]._id); false">Vote</button>
      </td>
    </tr>
    <tr>
      <td>{{currentQuestion[0].opt3}}</td>
      <td>{{currentQuestion[0].vote3}}</td>
      <td>
        <button type="button" (click)="vote3(currentQuestion[0]._id); false">Vote</button>
      </td>
    </tr>
    <tr>
      <td>{{currentQuestion[0].opt4}}</td>
      <td>{{currentQuestion[0].vote4}}</td>
      <td>
        <button type="button" (click)="vote4(currentQuestion[0]._id); false">Vote</button>
      </td>
    </tr>
  </tbody>
</table>
