<a [routerLink]="['/dashboard']">Cancel</a>

<h1>New Question</h1>

<form (submit)="submitQuestion()" #formData='ngForm'>

  <table>
    <tr>
      <td>Question</td>
      <td>
        <input type="text" 
               name="question"
               required 
               minlength="8" 
               [(ngModel)]="newQuestion.text" 
               #text="ngModel">
        <span *ngIf="text.invalid && text.dirty">Please enter question at least 8 characters</span>
      </td>
    </tr>
    <tr>
      <td>Option 1</td>
      <td>
        <input type="text" 
               name="opt1"
               required
               minlength="3"
               [(ngModel)]="newQuestion.opt1" 
               #opt1="ngModel">
      </td>
    </tr>
    <tr>
      <td>Option 2</td>
      <td>
        <input type="text" 
               name="opt2" 
               required 
               minlength="3" 
               [(ngModel)]="newQuestion.opt2" 
               #opt2="ngModel">
      </td>
    </tr>
    <tr>
      <td>Option 3</td>
      <td>
        <input type="text" 
               name="opt3" 
               required 
               minlength="3" 
               [(ngModel)]="newQuestion.opt3" 
               #opt1="ngModel">
      </td>
    </tr>
    <tr>
      <td>Option 4</td>
      <td>
        <input type="text" 
               name="opt4" 
               required 
               minlength="3" 
               [(ngModel)]="newQuestion.opt4" 
               #opt1="ngModel">
      </td>
    </tr>
  </table>
  <button [routerLink]="['dashboard']">Cancel</button>
  <input type="submit" value="Create Poll" [disabled]='!formData.valid'>

</form>